<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users</title>
    <style>
        .delete{
            background-color: red;
        }
    </style>
</head>

<body>
    <% if (locals.users) { %>
        <table>
            <thead>
                <th>S. No</th>
                <th>User</th>
                <th>Role</th>
                <th>Action</th>
            </thead>
            <tbody>
                <% users.forEach((user,index)=> { %>
                    <tr>
                        <td>
                            <%= index+1 %>
                        </td>
                        <td>
                            <%= user.name %>
                        </td>
                        <td>
                            <%= user.role %>
                        </td>
                        <td>
                            <form action="/admin/users/<%= user._id %>" method="POST">
                                <button type="submit" class="delete">Delete</button>
                            </form>
                        </td>
                    </tr>
                    <% }) %>
            </tbody>
        </table>
        <% } else { %>
            <p>No Users Found</p>
        <%}%>

</body>

</html>